{% extends 'base.html.twig' %} {% block h1 %}ERROR 403{% endblock %} {% block title %}Erreur 403{% endblock %}

{% block body %}
 	<!-- slogan -->
	<div class="jumbotron">

		<h2>OUUPSS vous vous êtes trompez de porte!</h2>
		<p class="soustext">Vous n'avez pa l'autorisation d'acceder à cette page secrète</p>

	</div>

{% endblock %} 