{% extends 'base.html.twig' %} {% block h1 %}ERROR 404{% endblock %} {% block title %}Erreur 404{% endblock %}

{% block body %}
 	<!-- slogan -->
	<div class="jumbotron">

		<h2>OUUPSS la page que vous avez demander n'existe pas!</h2>
		<p class="soustext">Nous somme désolé de vous annoncer que cette page à diparu dans le néant distordu de l'espace inter-galactique</p>

	</div>

{% endblock %}
