{% extends 'base.html.twig' %} {% block body %}


<!-- 
<form action="#" method="POST">


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01" name="status">Activation compte</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
            <option value="" selected>Changer le statut</option>
            <option value="0">Désactiver</option>
            <option value="1">Activer</option>
        </select>
    </div>   

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect02">Niveau utilisateur</label>
        </div>
        <select class="custom-select" id="inputGroupSelect02" name="leveluser">
            <option value="" selected>Changer le niveau</option>
            <option value="0">Membreniveau 1</option>
            <option value="1">Administrateurniveau 2</option>
        </select> -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
				Valider
			</button>
    </div>    -->



<!-- Modal -->

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button data-link="{{ path( ) }}" data-state="false"   type="button" class="btn btn-primary confirm admin-editor">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    <input type="submit">
</form> -->




{% endblock %} {% block javascript %}{% endblock %}