{% extends 'base.html.twig' %}
{% block body %}
<body class="color">
	{% block header%}

    <div class="intro intro-2 py-4 py-lg-8 position-relative text-white bg-h1" id="toph2">
        <div class="bg-overlay-primary">
            <img src="{{ asset('images/bleu.jpg') }}" class="img-fluid img-cover img-responsive" alt="Robust UI Kit" style=" width: 100%; display: block;" >
        </div>
            <div class="intro-content py-6 text-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto text-center">
                            <h1 class="my-3 display-4 d-none d-lg-inline-block">F.A.Q</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
<!-- slogan -->
<div class="jumbotron jumbotron2">
    <div class="container">
        <h2>Foire aux questions</h2>

<!--
        <div id="scroll" style="position: fixed; top: 90%; right: 5%;" class="clicked">
            <span class="">↓</span>
        </div>
-->
    </div>
</div>
{% endblock %}

{% block main %}
  <body>

  <section class="slice slice-lg">
            <div class="container">
                <div class="row row-grid">
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-header">
                                <span class="h5" id="topfaq">FAQ</span>
                            </div>
                            <div class="list-group list-group-flush">
                                <a href="#section_1" data-scroll-to="" data-scroll-to-offset="50" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <span>-Quel est le concept du site?</span>
                                    </div>
                                </a>
                                <a href="#section_2" data-scroll-to="" data-scroll-to-offset="50" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <span>-Pourquoi s'inscrire?</span>
                                    </div>
                                </a>
                                <a href="#section_3" data-scroll-to="" data-scroll-to-offset="50" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <span>-Comment s'inscrire?</span>
                                    </div>
                                </a>
                                <a href="#section_4" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <span>-L'inscription est elle payante? </span>
                                    </div>
                                </a>
                                <a href="#section_5" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <span>-Je ne connais rien en informatique, comment traduire ce que les développeurs disent?</span>
                                    </div>
                                </a>
                                <a href="#section_6" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <span>-Quels  sont les types de contrats disponibles? </span>
                                    </div>
                                </a>
                                <a href="#section_7" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <span>-Je suis développeur, comment contacter le dépositaire d'une annonce?</span>
                                    </div> 
                                </a>
                                <a href="#section_8" class="list-group-item list-group-item-action d-flex justify-content-between">
                                    <div>
                                        <span>-Comment contacter un administrateur du site?</span>
                                    </div> 
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 ml-lg-auto">
                        <div class="mb-md">
                            <h4 class="mb-4" id="#toph2">-Quel est le concept du site?</h4>
                            <div class="py-4 border-bottom">
                                <p class=" mb-0">Adopte un développeur est un site de mise en relation  entre entreprises et développeurs.</p>
                            </div>
                            <div class="text-right py-4">
                                <a href="#toph2"class="backtotop" data-scroll-to="" data-scroll-to-offset="50">Back to top</a>
                            </div>
                        </div>

                        <div class="mb-md">
                            <h4 class="mb-4" id="section_2">-Pourquoi s'inscrire?</h4>
                            <div class="py-4 border-bottom">
                                <p class=" mb-0">L'inscription donne la possibilité de déposé des annonces.</p>
                            </div> 
                            <div class="text-right py-4">
                                <a href="#toph2" class="backtotop"data-scroll-to="" data-scroll-to-offset="50">Back to top</a>
                            </div>
                        </div>
                        <div class="mb-md">
                            <h4 class="mb-4" id="section_3">-Comment s'inscrire?</h4>
                            <div class="py-4 border-bottom">
                                <p class=" mb-0">Pour cela il vous suffit d'allez sur la page d'accueil et de vous rendre sur la section correspondante à votre statut.</p>
                            </div>
                            <div class="text-right py-4">
                                <a href="#toph2" class="backtotop"data-scroll-to="" data-scroll-to-offset="50">Back to top</a>
                            </div>
                        </div>
                        <div class="mb-md">
                            <h4 class="mb-4" id="section_4">-L'inscription est elle payante? </h4>
                            <div class="py-4 border-bottom">
                                <p class=" mb-0">Non, la totalité de notre site est gratuite.</p>
                            </div>
                            <div class="text-right py-4">
                                <a href="#toph2"class="backtotop" data-scroll-to="" data-scroll-to-offset="50">Back to top</a>
                            </div>
                        </div>
                         <div class="mb-md">
                            <h4 class="mb-4" id="section_5">-Je ne connais rien en informatique, comment traduire ce que les développeurs disent?</h4>
                            <div class="py-4 border-bottom">
                                <p class=" mb-0">Pas de panique, la section infos est un résumé des principaux  langages utilisé dans la création d'un site internet.</p>
                            </div>
                            <div class="text-right py-4">
                                <a href="#toph2" class="backtotop"data-scroll-to="" data-scroll-to-offset="50">Back to top</a>
                            </div>
                        </div>
                         <div class="mb-md">
                            <h4 class="mb-4" id="section_6">-Quels  sont les types de contrats disponibles?</h4>
                            <div class="py-4 border-bottom">
                                <p class=" mb-0">CDI, CDD, Interim ou Freelance.</p>
                            </div>
                            <div class="text-right py-4">
                                <a href="#toph2" class="backtotop"data-scroll-to="" data-scroll-to-offset="50">Back to top</a>
                            </div>
                        </div>
                        <div class="mb-md">
                          <h4 class="mb-4" id="section_7">-Je suis développeur, comment contacter le dépositaire d'une annonce?</h4>
                          <div class="py-4 border-bottom">
                              <p class=" mb-0">Vous pouvez prendre contact avec le dépositaire via le bouton contact en bas de l'annonce.</p>
                          </div>
                          <div class="text-right py-4">
                              <a href="#toph2" class="backtotop"data-scroll-to="" data-scroll-to-offset="50">Back to top</a>
                          </div>
                          <div class="mb-md">
                          <h4 class="mb-4" id="section_8">- Comment contacter un administrateur du site?</h4>
                          <div class="py-4 border-bottom">
                              <p class=" mb-0">Cela est possible via la section Contact en bas de chaque page.</p>
                          </div>
                          <div class="text-right py-4">
                              <a href="#toph2" class="backtotop" data-scroll-to="" data-scroll-to-offset="50">Back to top</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{# 
        <ul class="nav nav-tabs" id="myTab" role="tablist">
               
                <li class="nav-item ">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">quelque chose</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">autre</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem Ipsum</div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Lorem Ipsum</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Lorem Ipsum</div>
              </div>
       #}
    
        {# <div class="container-fluid"> #}
          {# <div class="row"> #}
            {# <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                            <ul class="nav flex-column">
                              <li class="nav-item">
                                <a class="nav-link" href="#">
                                  Les languages Informatique
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">
                                  info
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">
                                  info
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">
                                  info
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">
                                  Info
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">
                                  info
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">
                                  info
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">
                                  info
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">
                                  info
                                </a>
                              </li>
                            </ul>
                          </div>
              </div>
            </nav> #}
    
            {# <main class="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"> #}
                {# <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                    </div>
                </div>
                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                    </div>
                </div>
            </div> #}
              {# <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"> #}
              {# </div> #}




            {# </main>  #}
    

  
</body>
{% endblock %}

{% endblock %}


