{% extends 'base.html.twig' %} {% block h1 %}Déconnexion{% endblock %} {% block title %}Déconnexion{% endblock %} {% block body %}

<div aria-label="breadcrumb">
    <ol class="breadcrumb mt-0">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#">Déconnexion</a></li>
    </ol>
</div>

<!-- slogan -->
<div class="jumbotron">

    <h2>A bientot</h2>

</div>

{% if success is defined %}
<div class="alert alert-success" role="alert">
    {{ success }}
</div>

<div class="row d-flex justify-content-center">
    <a href="{{ path('api_login') }}" class="btn btn-primary btn-lg btn-block col-6">Retour aux annonces</a>
</div>
{% endif %} {% endblock %} {% block javascripts %} {% endblock %}
